# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
ENV/
env/

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# PyTorch models / large artifacts (do NOT commit heavy binaries)
*.pt
*.pth
*.bin



# Datasets / large files
/data/
kaggle/
kaggle/input/
*.csv
*.tsv
*.zip

# Logs, checkpoints, caches
logs/
checkpoints/
*.ckpt
*.log
.pytest_cache/
.mypy_cache/

# macOS / misc
.DS_Store

